{% extends 'base.html' %}
{% block content %}
    <br>
  {% for question in qs %}
<div class="list-group">
  <a href="{% url 'main:answers' pk=question.pk %}" class="list-group-item list-group-item-action">{{ question.quest_name}}</a>
      </div>
      <p class="list-group-item list-group-item-action" style="background-color: darkgray">Last updated answer: {{ question.answers.last }}</p>
      <a href="{% url 'main:del_quest' pk=question.pk %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'main:edit_quest' pk=question.pk %}" class="btn btn-warning">Edit</a>
    {% endfor %}
{% endblock %}